
		<!-- FOOTER -->
		<footer id="footer">
			<!-- top footer -->
			<div class="section">
				<!-- container -->
				<div class="container">
					<!-- row -->
					<div class="row">
						<div class="col-md-3 col-xs-6">
							<div class="footer">
								<h3 class="footer-title">Sobre Nosotros</h3>
								<p>{{infoPaginaService.info.Descripcion}}</p>
								<ul class="footer-links">
									<li><a href="#"><i class="fa fa-map-marker"></i>{{infoPaginaService.info.Direccion}}</a></li>
									<li><a href="#"><i class="fa fa-phone"></i>{{infoPaginaService.info.Telefono}}</a></li>
									<li><a href="#"><i class="fa fa-envelope-o"></i>{{infoPaginaService.info.Email}}</a></li>
								</ul>
							</div>
						</div>

						<div class="col-md-3 col-xs-6">
							<div class="footer">
								<h3 class="footer-title">Categorias</h3>
								<ul class="footer-links">
									<li><a href="#">{{infoPaginaService.info.Categoria1}}</a></li>
									<li><a href="#">{{infoPaginaService.info.Categoria2}}</a></li>
									<li><a href="#">{{infoPaginaService.info.Categoria3}}</a></li>
									<li><a href="#">{{infoPaginaService.info.Categoria4}}</a></li>
									<li><a href="#">{{infoPaginaService.info.Categoria5}}</a></li>
								</ul>
							</div>
						</div>

						<div class="clearfix visible-xs"></div>

						<div class="col-md-3 col-xs-6">
							<div class="footer">
								<h3 class="footer-title">Información</h3>
								<ul class="footer-links">
									<li><a href="#">{{infoPaginaService.info.Informacion1}}</a></li>
									<li><a href="#">{{infoPaginaService.info.Informacion2}}</a></li>
									<li><a href="#">{{infoPaginaService.info.Informacion3}}</a></li>
									<li><a href="#">{{infoPaginaService.info.Informacion4}}</a></li>
									<li><a href="#">{{infoPaginaService.info.Informacion5}}</a></li>
								</ul>
							</div>
						</div>

						<div class="col-md-3 col-xs-6">
							<div class="footer">
								<h3 class="footer-title">Servicios</h3>
								<ul class="footer-links">
									<li><a href="#">{{infoPaginaService.info.Service1}}</a></li>
									<li><a href="#">{{infoPaginaService.info.Service2}}</a></li>
									<li><a href="#">{{infoPaginaService.info.Service3}}</a></li>
									<li><a href="#">{{infoPaginaService.info.Service4}}</a></li>
									<li><a href="#">{{infoPaginaService.info.Service5}}</a></li>
								</ul>
							</div>
						</div>
					</div>
					<!-- /row -->
				</div>
				<!-- /container -->
			</div>
			<!-- /top footer -->

			<!-- bottom footer -->
			<div id="bottom-footer" class="section">
				<div class="container">
					<!-- row -->
					<div class="row">
						<div class="col-md-12 text-center">
							<ul class="footer-payments">
								<li><a href="#"><i class="fa fa-cc-visa"></i></a></li>
								<li><a href="#"><i class="fa fa-credit-card"></i></a></li>
								<li><a href="#"><i class="fa fa-cc-paypal"></i></a></li>
								<li><a href="#"><i class="fa fa-cc-mastercard"></i></a></li>
								<li><a href="#"><i class="fa fa-cc-discover"></i></a></li>
								<li><a href="#"><i class="fa fa-cc-amex"></i></a></li>
							</ul>
							<span class="copyright">
								<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
								Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
							<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
							</span>
						</div>
					</div>
						<!-- /row -->
				</div>
				<!-- /container -->
			</div>
			<!-- /bottom footer -->
		</footer>
		<!-- /FOOTER -->
