  
      <!-- SECTION -->
      <div class="section">
          <!-- container -->
          <div class="container">
            <!-- row -->
            <div class="row">
    
              <!-- section title -->
              <div class="col-md-12">
                <div class="section-title">
                  <h3 class="title">Nuevos Productos</h3>
                  <div class="section-nav">
                    <ul class="section-tab-nav tab-nav">
                      <li routerLinkActive="active"><a data-toggle="tab" [routerLink]="['/computadores']">Computadores</a></li>
                      <li routerLinkActive="active"><a data-toggle="tab" [routerLink]="['/celulares']">Celulares</a></li>
                      <li routerLinkActive="active"><a data-toggle="tab" [routerLink]="['/camaras']">Camaras</a></li>
                      <li routerLinkActive="active"><a data-toggle="tab" [routerLink]="['/accesorios']">Accessorios</a></li>
  
                    </ul>
                  </div>
                </div>
              </div>
              <div align="center" *ngIf="infoPaginaService.cargada">
                <h3>Cargando..</h3>
                <div class="loader loader--style1" title="0">
                  <svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                   width="40px" height="40px" viewBox="0 0 40 40" enable-background="new 0 0 40 40" xml:space="preserve">
                  <path opacity="0.2" fill="#000" d="M20.201,5.169c-8.254,0-14.946,6.692-14.946,14.946c0,8.255,6.692,14.946,14.946,14.946
                    s14.946-6.691,14.946-14.946C35.146,11.861,28.455,5.169,20.201,5.169z M20.201,31.749c-6.425,0-11.634-5.208-11.634-11.634
                    c0-6.425,5.209-11.634,11.634-11.634c6.425,0,11.633,5.209,11.633,11.634C31.834,26.541,26.626,31.749,20.201,31.749z"/>
                  <path fill="#000" d="M26.013,10.047l1.654-2.866c-2.198-1.272-4.743-2.012-7.466-2.012h0v3.312h0
                    C22.32,8.481,24.301,9.057,26.013,10.047z">
                    <animateTransform attributeType="xml"
                      attributeName="transform"
                      type="rotate"
                      from="0 20 20"
                      to="360 20 20"
                      dur="0.5s"
                      repeatCount="indefinite"/>
                    </path>
                  </svg>
                </div>
              </div>
              <!-- Products tab & slick -->
            </div>
          </div>
        </div>

      
      <div *ngIf="!infoPaginaService.cargada">
        <!-- HOT DEAL SECTION -->
      <div id="hot-deal" class="section">
        <!-- container -->
        <div class="container">
          <!-- row -->
          <div class="row">
            <div class="col-md-12">
              <div class="hot-deal">
                <ul class="hot-deal-countdown">
                  <li>
                    <div>
                      <h3>02</h3>
                      <span>Days</span>
                    </div>
                  </li>
                  <li>
                    <div>
                      <h3>10</h3>
                      <span>Hours</span>
                    </div>
                  </li>
                  <li>
                    <div>
                      <h3>34</h3>
                      <span>Mins</span>
                    </div>
                  </li>
                  <li>
                    <div>
                      <h3>60</h3>
                      <span>Secs</span>
                    </div>
                  </li>
                </ul>
                <h2 class="text-uppercase">hot deal this week</h2>
                <p>New Collection Up to 50% OFF</p>
                <a class="primary-btn cta-btn" href="#">Shop now</a>
              </div>
            </div>
          </div>
          <!-- /row -->
        </div>
        <!-- /container -->
      </div>
      <!-- /HOT DEAL SECTION -->
  
      <!-- SECTION -->
      <div class="section">
        <!-- container -->
        <div class="container">
          <!-- row -->
          <div class="row">
  
            <!-- section title -->
            <div class="col-md-12">
              <div class="section-title">
                <h3 class="title">Top selling</h3>
                <div class="section-nav">
                  <ul class="section-tab-nav tab-nav">
                    <li class="active"><a data-toggle="tab" href="#tab2">Laptops</a></li>
                    <li><a data-toggle="tab" href="#tab2">Smartphones</a></li>
                    <li><a data-toggle="tab" href="#tab2">Cameras</a></li>
                    <li><a data-toggle="tab" href="#tab2">Accessories</a></li>
                  </ul>
                </div>
              </div>
            </div>
           
            		<!-- SECTION -->
		<div class="section">
        <!-- container -->
        <div class="container">
          <!-- row -->
          <div class="row">
            <!-- shop -->
            <div class="col-md-4 col-xs-6">
              <div class="shop">
                <div class="shop-img">
                  <img src="assets/img/shop01.png" alt="">
                </div>
                <div class="shop-body">
                  <h3>Laptop<br>Collection</h3>
                  <a href="#" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
                </div>
              </div>
            </div>
            <!-- /shop -->
  
            <!-- shop -->
            <div class="col-md-4 col-xs-6">
              <div class="shop">
                <div class="shop-img">
                  <img src="assets/img/shop03.png" alt="">
                </div>
                <div class="shop-body">
                  <h3>Accessories<br>Collection</h3>
                  <a href="#" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
                </div>
              </div>
            </div>
            <!-- /shop -->
  
            <!-- shop -->
            <div class="col-md-4 col-xs-6">
              <div class="shop">
                <div class="shop-img">
                  <img src="assets/img/shop02.png" alt="">
                </div>
                <div class="shop-body">
                  <h3>Cameras<br>Collection</h3>
                  <a href="#" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
                </div>
              </div>
            </div>
            <!-- /shop -->
          </div>
          <!-- /row -->
        </div>
        <!-- /container -->
      </div>
      <!-- /SECTION -->

      		<!-- SECTION -->
		<div class="section">
        <!-- container -->
        <div class="container">
          <!-- row -->
          <div class="row">
            <!-- shop -->
            <div class="col-md-4 col-xs-6">
              <div class="shop">
                <div class="shop-img">
                  <img src="assets/img/shop01.png" alt="">
                </div>
                <div class="shop-body">
                  <h3>Laptop<br>Collection</h3>
                  <a href="#" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
                </div>
              </div>
            </div>
            <!-- /shop -->
  
            <!-- shop -->
            <div class="col-md-4 col-xs-6">
              <div class="shop">
                <div class="shop-img">
                  <img src="assets/img/shop03.png" alt="">
                </div>
                <div class="shop-body">
                  <h3>Accessories<br>Collection</h3>
                  <a href="#" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
                </div>
              </div>
            </div>
            <!-- /shop -->
  
            <!-- shop -->
            <div class="col-md-4 col-xs-6">
              <div class="shop">
                <div class="shop-img">
                  <img src="assets/img/shop02.png" alt="">
                </div>
                <div class="shop-body">
                  <h3>Cameras<br>Collection</h3>
                  <a href="#" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
                </div>
              </div>
            </div>
            <!-- /shop -->
          </div>
          <!-- /row -->
        </div>
        <!-- /container -->
      </div>
      <!-- /SECTION -->
          </div>
          <!-- /row -->
        </div>
        <!-- /container -->
      </div>
      <!-- /SECTION -->
  
      <!-- SECTION -->
      <div class="section">
        <!-- container -->
        <div class="container">
          <!-- row -->
          <div class="row">
            <div class="col-md-4 col-xs-6">
              <div class="section-title">
                <h4 class="title">Top selling</h4>
                <div class="section-nav">
                  <div id="slick-nav-3" class="products-slick-nav"></div>
                </div>
              </div>
  
              <div class="products-widget-slick" data-nav="#slick-nav-3">
                <div>
                  <!-- product widget -->
                  <div class="product-widget">
                    <div class="product-img">
                      <img src="assets/img/product07.png" alt="">
                    </div>
                    <div class="product-body">
                      <p class="product-category">Category</p>
                      <h3 class="product-name"><a href="#">product name goes here</a></h3>
                      <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
                    </div>
                  </div>
                  <!-- /product widget -->
  
                  <!-- product widget -->
                  <div class="product-widget">
                    <div class="product-img">
                      <img src="assets/img/product08.png" alt="">
                    </div>
                    <div class="product-body">
                      <p class="product-category">Category</p>
                      <h3 class="product-name"><a href="#">product name goes here</a></h3>
                      <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
                    </div>
                  </div>
                  <!-- /product widget -->
  
                  <!-- product widget -->
                  <div class="product-widget">
                    <div class="product-img">
                      <img src="assets/img/product09.png" alt="">
                    </div>
                    <div class="product-body">
                      <p class="product-category">Category</p>
                      <h3 class="product-name"><a href="#">product name goes here</a></h3>
                      <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
                    </div>
                  </div>
                  <!-- product widget -->
                </div>
  
                <div>
                  <!-- product widget -->
                  <div class="product-widget">
                    <div class="product-img">
                      <img src="assets/img/product01.png" alt="">
                    </div>
                    <div class="product-body">
                      <p class="product-category">Category</p>
                      <h3 class="product-name"><a href="#">product name goes here</a></h3>
                      <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
                    </div>
                  </div>
                  <!-- /product widget -->
  
                  <!-- product widget -->
                  <div class="product-widget">
                    <div class="product-img">
                      <img src="assets/img/product02.png" alt="">
                    </div>
                    <div class="product-body">
                      <p class="product-category">Category</p>
                      <h3 class="product-name"><a href="#">product name goes here</a></h3>
                      <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
                    </div>
                  </div>
                  <!-- /product widget -->
  
                  <!-- product widget -->
                  <div class="product-widget">
                    <div class="product-img">
                      <img src="assets/img/product03.png" alt="">
                    </div>
                    <div class="product-body">
                      <p class="product-category">Category</p>
                      <h3 class="product-name"><a href="#">product name goes here</a></h3>
                      <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
                    </div>
                  </div>
                  <!-- product widget -->
                </div>
              </div>
            </div>

  
          </div>
          <!-- /row -->
        </div>
        <!-- /container -->
      </div>
      <!-- /SECTION --> 
      </div>
  
     